<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lsh.timer">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".TimerService5"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".TimerService4"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".TimerService3"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".TimerService2"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".TimerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>